<div class="main-bg">
  <canvas id="bg-canvas"></canvas>
  <div class="container">
    <div class="row">
      <div class="card mb-3" style="width: 23rem; padding: 0px;">
        <!-- Card Image -->
        <img class="card-img-top" src="./assets/img/bg/main-bg.jpg" alt="Card image cap" width="auto" height="250px">
        <!-- Header -->
        <div class="row text-center mt-2">
          <div class="col-sm-8">
            <h5 class="mb-3" style="float:right;">{{ isChangeForm ? 'Registro Usuario' : 'Acceso Usuario' }}</h5>
          </div>
          <div class="col-sm-4">
            <ng-container *ngIf="isChangeForm; else loginIcon">
              <i class="fa-solid fa-user-plus" (click)="changeForm()"></i>
            </ng-container>
            <ng-template #loginIcon>
              <i class="fa-solid fa-user" (click)="changeForm()"></i>
            </ng-template>
          </div>
      
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <app-login *ngIf="!isChangeForm"></app-login>
          <!-- Register Component -->
          <div *ngIf="isChangeForm">
            <app-register></app-register> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
