<div class="main-bg">
  <canvas id="bg-canvas"></canvas>
  <div class="container">
    <div class="row">
      <div class="card mb-3" style="width: 23rem; padding: 0px;">
        <!-- Card Image -->
        <img class="card-img-top" src="./assets/img/bg/main-bg.jpg" alt="Card image cap" width="auto" height="250px">
        <!-- Header -->
        <div class="row text-center mt-2">
          <div class="col-sm-8">
            <h5 class="mb-3" style="float:right;">{{ isLoggedIn ? 'Bienvenido' : (isChangeForm ? 'Registro Usuario' : 'Acceso Usuario') }}</h5>
          </div>
          <div class="col-sm-4">
            <ng-container *ngIf="isLoggedIn; else changeFormIcon">
              <!-- Si el usuario está logueado, puedes agregar un icono para cerrar sesión o similar aquí -->
              <i class="fa-solid fa-sign-out-alt" (click)="logout()" title="Cerrar sesión"></i>
            </ng-container>
            <ng-template #changeFormIcon>
              <ng-container *ngIf="isChangeForm; else loginIcon">
                <i class="fa-solid fa-user" (click)="changeForm()" title="Iniciar sesión" 
                   (mouseenter)="loginHover = true" (mouseleave)="loginHover = false"></i>
                <span class="bocadillo bocadillo-left" *ngIf="loginHover">Inicia Sesión</span>
              </ng-container>
              <ng-template #loginIcon>
                <i class="fa-solid fa-user-plus" (click)="changeForm()" title="Registrarse" 
                   (mouseenter)="registerHover = true" (mouseleave)="registerHover = false"></i>
                <span class="bocadillo bocadillo-left" *ngIf="registerHover">Registrarse</span>
              </ng-template>
            </ng-template>
          </div>
          
          
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <!-- Mostrar home si el usuario está logueado -->
          <ng-container *ngIf="isLoggedIn; else authenticationSection">
            <app-home></app-home>
          </ng-container>
          <!-- Sección de autenticación -->
          <ng-template #authenticationSection>
            <app-login *ngIf="!isChangeForm"></app-login>
            <div *ngIf="isChangeForm">
              <app-register></app-register>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
