ul{
   list-style: none;
   padding-left: 0px;
}

.correcta {
    background-color: lightgreen; /* Fondo verde para respuestas correctas */
}

.incorrecta {
    background-color: lightcoral; /* Fondo rojo para respuestas incorrectas */
}

.text-muted{
    font-size: 12px;
}


button {
    border-radius: 20px;
    font-size: 14px;
    border-color: #301b30;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-box-shadow: 27px 26px 8px -19px rgba(184, 184, 184, 1);
    -moz-box-shadow: 27px 26px 8px -19px rgba(184, 184, 184, 1);
    box-shadow: 27px 26px 8px -19px rgba(184, 184, 184, 1);
    transition: background-color 200ms ease-in, background-image 200ms ease-out;
  }
  
  button:hover {
    border-color: #301b30;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: #000652;
  }
  a{
    text-decoration: none;
    color: #a54eec;
    
  }
  a:hover{
    text-decoration: none;
    color: #7641a1;
    
  }
  